:root {
  --primary-color: #cae8d5;
  --secondary-color: #84a9ac;
  --text-color: #3b6978;
  --pseudo-color: #204051;
  --title: "Kaushan Script", cursive;
  --text: "Didact Gothic", sans-serif;
}

* {
  padding: 20;
  margin: 0;
}

body {
  font-family: var(--text);
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
}

.app-bar {
  display: flex;
  min-height: 52px;
  position: fixed;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 999;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand h1 {
  color: var(--pseudo-color);
  text-shadow: 2px 2px var(--secondary-color);
  font-family: var(--title);
  font-size: 32px;
  user-select: none;
}

.app-bar .app-bar__navigation {
  display: flex;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.5s;
  padding: 8px;
  overflow: hidden;
  justify-content: space-around;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .hamburgerButton button {
  display: none;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 0.9em;
  color: white;
  background-color: var(--pseudo-color);
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  border: 1px solid var(--pseudo-color);
  border-radius: 5px;
  transition: 0.5s;
  text-transform: uppercase;
}

.app-bar .app-bar__navigation ul li a:hover {
  background-color: var(--secondary-color);
  color: white;
  transition: 0.5s;
}

.hero {
  display: flex;
  align-items: center;
  width: 100% !important;
  min-height: 800px;
  text-align: center;
  background-position: center;
  background-color: var(--primary-color);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: center;
  object-position: center;
}

.hero__wrap {
  max-width: 58%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.hero__title {
  font-family: var(--title);
  margin-top: 18px;
  color: var(--pseudo-color);
  text-shadow: 2px 2px var(--secondary-color);
  font-size: 48px;
  object-fit: center;
  object-position: center;
}

.hero__tagline {
  margin-top: 18px;
  margin-bottom: 18px;
  color: var(--text-color);
  font-size: 20px;
  font-weight: 100;
  padding: 10px 20px;
  text-transform: uppercase;
}

main {
  padding: 20px;
  padding-top: -20px;
  flex: 1;
  position: relative;
  width: 100%;
}

.restaurants {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  width: 100%;
}

.restaurants .container__restaurant {
  grid-gap: 10px 10px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid var(--pseudo-color);
}

.restaurants .container__restaurant .restaurant__title {
  padding: 10px auto;
  color: var(--text-color);
  font-family: var(--text);
  align-items: center;
  font-size: 1.6em;
}

.restaurants .container__restaurant .restaurant__poster {
  width: 100%;
  overflow: hidden;
}

.restaurants .container__restaurant .content__info {
  overflow: hidden;
}

.restaurants .container__restaurant .content__info .info__description {
  overflow: hidden;
}

.restaurants .container__restaurant .detail__restaurant a {
  padding: 10px;
  text-decoration: none;
  background-color: var(--text-color);
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

.detail_restaurant {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 20px !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.detail_restaurant .restaurant__detail {
  display: flex;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #000000;
  transition: 0.8s;
  padding-bottom: 20px;
}

.detail_restaurant .restaurant__detail .restaurant__header {
  max-width: 50%;
}

.detail_restaurant .restaurant__detail .restaurant__detail__image {
  overflow: hidden;
  width: 100%;
}

.detail_restaurant .restaurant__detail:hover {
  box-shadow: 10px 10px 19px -2px rgba(0, 0, 0, 0.75);
  transition: 0.8s;
}

.detail_restaurant .customer__review {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  overflow: hidden;
  transition: 0.8s;
}

.detail_restaurant .customer__review .bg-h1 {
  background-color: white;
  font-size: 0.9em;
  text-align: center;
}

.detail_restaurant .customer__review .bg-h1 h1 {
  color: var(--text-color);
  font-family: var(--text);
}

.detail_restaurant .customer__review:hover {
  border: 0px solid #000000;
  box-shadow: 10px 10px 19px -2px rgba(0, 0, 0, 0.75);
  transition: 0.8s;
}

.content__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

footer {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.1);
}

footer p {
  text-align: center;
  color: var(--text-color);
  font-family: var(--text);
}

footer p a {
  text-decoration: none;
  color: var(--pseudo-color);
  font-weight: bold;
  font-family: var(--title);
  text-shadow: 2px 2px var(--secondary-color);
}
/*# sourceMappingURL=main.css.map */