@media screen and (min-width: 650px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
        .app-bar__brand h1 {
            font-size: 1.5em;
        }
        .app-bar__menu {
            display: none;
            background-color: white;
        }
        .app-bar__navigation {
            position: static;
            width: 100%;
            ul {
                list-style-type: none;
            }
            ul li {
                display: inline-block;
                a {
                    display: inline-block;
                    width: 120px;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
}

@media screen and(max-width:575px) {
    .restaurants {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 10px;
    }
}

@media screen and(max-width:400px) {
    .app-bar__brand h1 {
        font-size: 0.8em;
    }
    .app-bar__navigation ul {
        list-style-type: none;
    }
    .restaurants {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap: 10px;
    }
}

@media screen and(max-width:800px) {
    .app-bar__navigation {
        position: absolute;
        background-color: #bedbbf;
        .li {
            list-style-type: none;
        }
    }
    .app-bar .app-bar__brand h1 {
        font-size: 2em;
    }
    .app-bar__navigation ul {
        list-style-type: none;
    }
    .restaurants {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    .detail_restaurant {
        display: grid;
        grid-template-columns: 1fr !important;
        gap: 10px;
    }
}